

.appWrapper {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

.navbar {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    z-index: 1000;
}

.navLink {
    color: #007bff;
    font-size: 1.5rem; /*  Even Larger font size */
    font-weight: 600;   /* Bolder font weight */
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease; /* Add transform transition */

}

.navLink:hover {
    color: #0056b3;
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.contentWrapper {
    padding-top: 75px; /* Adjust - needs to match navbar height + a little extra*/
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}